.container {
  margin: 20px auto;
  width: 100%;
  height: 20%;
  background-color: #fff;
  display: grid;
  grid-template-columns: auto auto;
  grid-row: auto auto;
  grid-column: auto;
  grid-gap: 10px;
}

.container .box {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 40px;
}

* {
  font-family: sans-serif;
  text-align: center;
}

.container .box#a {
  background-color: red;
}
.container .box#b {
  background-color: green;
}
.container .box#c {
  background-color: blue;
}
.container .box#d {
  background-color: yellow;
}

footer .right {
  float: right;
  justify-content: right;
}

footer .left {
  float: left;
  justify-content: left;
}

.label {
  font-style: italic;
  color: orange;
  text-shadow: 1px 1px 2px black;
}

h1 {
  font-size: 60px;
}

.hidden {
  display: none;
}

.alert {
  background-color: red;
  color: white;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 100;
  background-size: cover;
}

footer {
  width: 33%;
  padding-left: 33%;
}